# Importing libraries and Data

In [3]:
#Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
import os

In [5]:
#Create a path and import the dataframe
path = r'/Users/buketoztekin/Documents/Quantium/'
file_path = os.path.join(path, '2_Data', 'data_normal.csv')
df = pd.read_csv(file_path)

In [7]:
df.head()

,LYLTY_CARD_NBR,LIFESTAGE,PREMIUM_CUSTOMER,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,BULK_PURCHASE,PRICE_PER_UNIT
0,1000,YOUNG SINGLES/COUPLES,Premium,2018-10-17,1,1,5,Natural Chip Compny SeaSalt175g,2,6.0,175,Natural Chip Company,NO,3.0
1,1002,YOUNG SINGLES/COUPLES,Mainstream,2018-09-16,1,2,58,Red Rock Deli Chikn&Garlic Aioli 150g,1,2.7,150,Red Rock Deli,NO,2.7
2,1003,YOUNG FAMILIES,Budget,2019-03-07,1,3,52,Grain Waves Sour Cream&Chives 210G,1,3.6,210,Grain Waves,NO,3.6
3,1003,YOUNG FAMILIES,Budget,2019-03-08,1,4,106,Natural ChipCo Hony Soy Chckn175g,1,3.0,175,Natural Chip Company,NO,3.0
4,1004,OLDER SINGLES/COUPLES,Mainstream,2018-11-02,1,5,96,WW Original Stacked Chips 160g,1,1.9,160,Woolworths,NO,1.9

In [9]:
df.shape

(245301, 14)

In [13]:
# Ensure the column is in datetime format
df["DATE"] = pd.to_datetime(df["DATE"], errors="coerce")  # Convert to datetime

# Now convert to YYYYMM format
df["YEARMONTH"] = df["DATE"].dt.strftime("%Y%m").astype(int)

# Check the result
print(df[["DATE", "YEARMONTH"]].head())

        DATE  YEARMONTH
0 2018-10-17     201810
1 2018-09-16     201809
2 2019-03-07     201903
3 2019-03-08     201903
4 2018-11-02     201811

# Selecting Control Stores

In [34]:
# Aggregate monthly metrics for each store
store_metrics = df.groupby(["STORE_NBR", "YEARMONTH"]).agg(
    totSales=("TOT_SALES", "sum"),        
    nCustomers=("LYLTY_CARD_NBR", "nunique"),  
    nTxn=("TXN_ID", "count")             
).reset_index()

# Compute transactions per customer
store_metrics["nTxnPerCust"] = store_metrics["nTxn"] / store_metrics["nCustomers"]

# View the first few rows
print(store_metrics.head(10))

   STORE_NBR  YEARMONTH  totSales  nCustomers  nTxn  nTxnPerCust
0          1     201807     188.9          47    49     1.042553
1          1     201808     168.4          41    41     1.000000
2          1     201809     268.1          57    59     1.035088
3          1     201810     175.4          39    40     1.025641
4          1     201811     184.8          44    45     1.022727
5          1     201812     160.6          37    40     1.081081
6          1     201901     144.5          33    33     1.000000
7          1     201902     192.1          48    50     1.041667
8          1     201903     185.2          43    47     1.093023
9          1     201904     177.4          39    40     1.025641

In [36]:
# Keep only pre-trial data (before February 2019)
pre_trial_stores = store_metrics[store_metrics["YEARMONTH"] < 201902]

# Check the first few rows
print(pre_trial_stores.head())

   STORE_NBR  YEARMONTH  totSales  nCustomers  nTxn  nTxnPerCust
0          1     201807     188.9          47    49     1.042553
1          1     201808     168.4          41    41     1.000000
2          1     201809     268.1          57    59     1.035088
3          1     201810     175.4          39    40     1.025641
4          1     201811     184.8          44    45     1.022727